<div class="app__content" [ngClass]="'app--' + difficulty">
  <div class="board">
    <header class="board__header">
      <form>
        <select class="board__level-control" name="gameLevel" [ngModel]="difficulty"
                (ngModelChange)="onDifficultyChange($event)">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </form>

      <button class="board__face" (click)="createNewEmptyBoard()">
        <img class="board__face-img" src="/assets/minesweeper/{{ emojiFace }}.png" alt="Face">
      </button>

      <div class="board__dynamic-infos">
        <div class="board__dynamic-info">
          <img class="board__dynamic-info-img board__flag-img"
               src="/assets/minesweeper/triangular-flag-on-post.png" alt="Amount of flags left">
          <span class="board__dynamic-info-text">{{ flagsAvailable | stopWatch:'00' }}</span>
        </div>

        <div class="board__dynamic-info">
          <img class="board__dynamic-info-img board--stopwatch-img"
               src="/assets/minesweeper/stopwatch.png"
               alt="Timer">
          <span class="board__dynamic-info-text">{{ timer | stopWatch:'000'}}</span>
        </div>
      </div>
    </header>

    <main class="board__main" [ngClass]="[gameState ? gameState : '']">
      <div class="board__inner" (contextmenu)="onContextMenu($event)">
        <section *ngFor="let row of boardParsed; trackBy: trackByRow" class="minesweeper-row">
          <app-minesweeper-cell *ngFor="let cell of row; trackBy: trackByCell"
                                [cell]="cell"
                                (open)="onOpenCell($event)">
          </app-minesweeper-cell>
        </section>
      </div>
    </main>

    <footer class="board__footer">
      <button type="button" class="cell board__new-game-button" (click)="createNewEmptyBoard()">
        New game
      </button>
    </footer>
  </div>
</div>

