<button
    type="button"
    class="cell {{cell.openedIdClassName}}"
    (click)="onClick()"
    (contextmenu)="onContextMenu($event)"
    [ngClass]="{
        'opened': cell.isOpened,
        'flag': cell.label === 'F',
        'mine': cell.isMine,
        'mine-exploded': cell.isMineExploded,
        'flag-wrong': cell.isWrongFlag
    }">

  <ng-container [ngSwitch]="cell.label">

    <ng-container *ngSwitchCase="'M'">
      <img class="cell-image" src="/assets/minesweeper/pile-of-poop.png" alt="Pile of poop">
    </ng-container>

    <ng-container *ngSwitchCase="'F'">
      <img class="cell-image" src="/assets/minesweeper/triangular-flag-on-post.png" alt="Flag">
    </ng-container>

    <ng-container *ngSwitchDefault>
      {{ cell.label }}
    </ng-container>

  </ng-container>
</button>
