@import "src/scss/variables";
@import "src/scss/util";

$text-primary: tint($primary, 60%);

* {
  box-sizing: border-box;
}

html,
body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  letter-spacing: 0.03em;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: $text-primary;
}


h1 {
  color: black;
  font-weight: 600;
  letter-spacing: normal;
}
