<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6 col-sm-12 text-center" id="game-head-content">
      <h1>{{gameName}}</h1>
      <a class="home m-3" id="home" href="/"><i class="fas fa-home fa-2x"></i></a>
    </div>
  </div>

  <div class="row">
    <!-- Icons -->
    <app-tic-tac-toe-left-panel class="col-md-2 col-sm-12 text-center side-col" id="icons"></app-tic-tac-toe-left-panel>

    <!-- Tic Tac Toe grid -->
    <app-tic-tac-toe-board class="col-md-6 col-sm-12 text-center" id="grid"></app-tic-tac-toe-board>

    <!-- Messages -->
    <app-tic-tac-toe-right-panel class="col-sm-4 side-col" id="messages"></app-tic-tac-toe-right-panel>
  </div>
</div>
