<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6 col-sm-12 text-center" id="game-head-content">
      <h1>{{gameName}}</h1>
      <a class="home m-3" id="home" href="/"><i class="fas fa-home fa-2x"></i></a>
    </div>
  </div>

  <div class="row">
    <!-- Win Modal-->
    <app-sudoku-win-modal></app-sudoku-win-modal>

    <!-- Numpad and Buttons -->
    <div class="col-md-1 col-sm-12 text-center">
      <div class="space-2"></div>
      <div class="container">
        <app-sudoku-numpad></app-sudoku-numpad>
        <br>

        <app-sudoku-controls></app-sudoku-controls>
      </div>
    </div>

    <!-- Game Grid -->
    <div class="col-md-7 col-sm-12 text-center">
      <app-sudoku-board></app-sudoku-board>
    </div>

    <!-- Message Box -->
    <div class="col-md-4 col-sm-12" id="messages">
      <div class="space-2"></div>
      <app-sudoku-right-panel></app-sudoku-right-panel>
    </div>

  </div>
</div>
