<h2>Game Info</h2>
<div class="jumbotron" id="stats">
  <h3 class="subheader" id="pencilOn">Pencil: {{ boardService.pencilEnabled ? "On" : "Off" }}</h3>
  <h3 class="subheader" id="difficulty">Difficulty: {{ boardService.difficulty }}</h3>
  <h3 class="subheader" id="numUndo">Undo: {{ boardService.numUndo }}</h3>
</div>
<button type="button" id="new-game" class="btn btn-primary" (click)="boardService.newGame()">New Game</button>

<div ngbDropdown class="d-inline-block">
  <button type="button" class="btn btn-primary m-2" ngbDropdownToggle>Select Difficulty</button>
  <div ngbDropdownMenu>
    <button ngbDropdownItem (click)="selectDifficulty('Easy')">Easy</button>
    <button ngbDropdownItem (click)="selectDifficulty('Medium')">Medium</button>
    <button ngbDropdownItem (click)="selectDifficulty('Hard')">Hard</button>
  </div>
</div>
