<!-- Navigation bar -->
<div class="container-fluid" id="outer-container">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <strong><a class="navbar-brand" [routerLink]="'/'">Classic Games</a></strong>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-bar" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ttt']">Tic Tac Toe</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sudoku']">Sudoku</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/minesweeper']">Minesweeper</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>

  <div class="jumbotron">
    <div class="container subheader">
      <h1>Classic Games and Puzzles Collection</h1>
    </div>
  </div>

  <div class="container">
    <div class="row marketing">
      <div class="col-lg-6">
        <h3 class="subheader" [routerLink]="['/ttt']">Tic Tac Toe</h3>
        <p class="text-content">
          Interactive Tic Tac Toe game where the user can choose to either play against other
          human players or choose to play against the unbeatable computer player.
        </p>
      </div>

      <div class="col-lg-6">
        <h3 class="subheader" [routerLink]="['/sudoku']">Sudoku</h3>
        <p class="text-content">
          Interactive Sudoku game where the user can play various levels of difficulty
          of Sudoku puzzles with various game stats that keeps track of how the players are doing.
        </p>
      </div>
    </div>
  </div>

  <hr>
</div>
